body {
    font-family: Arial, sans-serif;
    margin: 35%;
    margin-top: 0rem;
    padding: 0;
    background: white;
    color: blue;
    text-align: center;
    border: 5px solid blue;
    width: 30%;
    height: 700px;
    align-items: center;
    justify-items: center;
    
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.robot-image {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.welcome-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.welcome-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 600px;
}

.microphone-icon img {
    width: 50px;
    height: 50px;
}

.microphone-icon p {
    margin-top: 10px;
    font-size: 1rem;
}
